<!-- page description -->
<div class="jumbotron">
    <div class="container">
        <h2>echo "hello!"; // welcome the user</h2>
        <p>Welcome to my personal website.  This website was designed and developed for my CIS 525 Web Technology course. Below you can find some more information about me.</p>
    </div>
</div>

<!-- content section -->
<div class="container">
    <div class="row">

        <!-- courses -->
        <div class="col-md-4">
            <h2>Courses<img src="~/StaticContent/book.png" alt="tv"></h2>
            <p>I am currently only taking one graduate class:</p>
            <ul>
                <li>CIS525 Web Technology</li>
            </ul>
            <p>
                <a class="btn btn-default" href="#" role="button">Course Website &raquo;</a>
            </p>
        </div>

        <!-- favorite tv shows -->
        <div class="col-md-4">
            <h2>Shows<img src="~/StaticContent/tv.png" alt="tv"></h2>
            <ul>
                <li>The Walking Dead</li>
                <li>Shark Tank</li>
                <li>The Blacklist</li>
            </ul>
        </div>

        <!-- hobbies -->
        <div class="col-md-4">
            <h2>Hobbies<img src="~/StaticContent/smile.png" alt="tv"></h2>
            <ul>
                <li>Software Development</li>
                <li>Hockey</li>
                <li>Video Games</li>
            </ul>
        </div>
    </div>
 </div>