<!-- page description -->
<div class="jumbotron">
    <div class="container">
        <h2>Course Website</h2>
        <p>This is my course website.  You can find more information about CIS525 Web Technology below.</p>
    </div>
</div>

<!-- content section -->
<div class="container">
    <div class="row">
        N/A
    </div>

    <div class="row spacer">
        <a class="btn btn-default" href="/" role="button">&laquo; Personal Website</a>
    </div>
</div>