<!-- page description -->
<div class="jumbotron">
    <div class="container">
        <h2>Course Website</h2>
        <p>This is my course website.  You can find more information about CIS525 Web Technology below.</p>
    </div>
</div>

<!-- content section -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Web Technology</h2>
            <p>The study of technologies used to design and implement multimedia websites. Topics include web servers, HTML, CGI, scripting languages, Java applets, back-end database connectivity, web security, multimedia, XML, web services, .NET, semantic web. (3 credits)</p>
        </div>
    </div>

    <div class="row spacer">
        <div class="col-md-12">
            <a class="btn btn-default" href="/" role="button">&laquo; Personal Website</a>
        </div>
    </div>

</div>