<!-- page description -->
<div class="jumbotron">
    <div class="container">
        <h2>Course Website</h2>
        <p>CIS525 Web Technology</p>
    </div>
</div>

<!-- content section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Course Description<img src="~/StaticContent/info.png" alt="info"></h4>
            <p>The study of technologies used to design and implement multimedia websites.</p> 

            <h4 class="spacer">Course Topics<img src="~/StaticContent/topic.png" alt="topic"></h4>
            <ul>
                <li>Introduction of Web Technology</li>
                <li>HTML and CSS</li>
                <li>JavaScript and jQuery</li>
                <li>Web servers (Apache and IIS)</li>
                <li>Backend Databases (MySQL)</li>
                <li>PHP</li>
                <li>XML</li>
                <li>Web Security</li>
                <li>Web Services</li>
            </ul>

        </div>
    </div>

    <div class="row spacer">
        <div class="col-md-12">
            <a class="btn btn-default" href="/" role="button">&laquo; Personal Website</a>
        </div>
    </div>
</div>