.spacer{
    margin-top: 50px;
}

img{
    height: 25px;
    width: 25px;
    margin-left: 25px;
}

.navbar-inverse .navbar-brand{
    color: #FFFFFF;
}

.navbar{
    background-color: #008F68;
}

.jumbotron{
    background-color: #BDBAB4;
    color: #000000;
}