<!DOCTYPE html>
<html>
<head>
    <title>CIS525 Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link id="pagestyle" rel="stylesheet" href="~/StaticContent/defaultstyle.css">
    <script type="text/javascript">
        function swapStyle(fileName) {
            var styleRoot = "/StaticContent/";
            document.getElementById("pagestyle").setAttribute('href', styleRoot + fileName);
        }
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
