<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">John Reese</a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2>echo "hello!"; // welcome the user</h2>
        <p>Welcome to my personal website.  This website was designed and developed for my CIS 525 Web Technology course. Below you can find some more information about me.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Courses<img src="~/StaticContent/book.png" alt="tv"></h2>
            <p>I am currently only taking one graduate class:</p>
            <ul>
                <li>CIS525 Web Technology</li>
            </ul>
            <p>
                <a class="btn btn-default" href="#" role="button">Course Website &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Shows<img src="~/StaticContent/tv.png" alt="tv"></h2>
            <ul>
                <li>The Walking Dead</li>
                <li>Shark Tank</li>
                <li>The Blacklist</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Hobbies<img src="~/StaticContent/smile.png" alt="tv"></h2>
            <ul>
                <li>Software Development</li>
                <li>Hockey</li>
                <li>Video Games</li>
            </ul>
        </div>
    </div>

    <div class="row spacer">
        <p><b>Tired of this color scheme?  Click on the name of the theme to alter the look and feel of the website.</b></p>
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td><h4>Theme Name</h4></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td onclick="swapStyle('defaultstyle.css');">
                            <a href="#">Default Theme</a>
                        </td>
                    </tr>
                    <tr>
                        <td onclick="swapStyle('greenstyle.css');">
                            <a href="#">Green Theme</a>
                        </td>
                    </tr>
                    <tr>
                        <td onclick="swapStyle('purplestyle.css');">
                            <a href="#">Purple Theme</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; John Reese 2015</p>
    </footer>
</div>